<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0/themes.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <title>Student Sync</title>
  </head>

  <body>
    <main class="container max-w-4xl mx-auto mt-24">
      <div class="mb-12 flex items-center justify-between">
        <div>
          <h1 class="text-2xl font-bold">Student Records</h1>
          <p class="text-sm">Total of {{ students|length }} records.</p>
        </div>
        <a href="/create-student" class="btn btn-neutral mt-4">
          <i data-lucide="circle-plus" class="h-4 w-4"></i>
          Add Student
        </a>
      </div>
      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th>Student</th>
              <th>Email</th>
              <th>Course</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
            <tr>
              <td>
                <div class="flex items-center gap-3">
                  <div>
                    <div class="font-bold">
                      {{ student.LastName }}, {{ student.FirstName }}
                    </div>
                    <div class="text-sm opacity-50">
                      {{ student.StudentID }}
                    </div>
                  </div>
                </div>
              </td>
              <td>{{ student.Email }}</td>
              <td>
                <div class="badge badge-soft badge-primary">
                  {{ student.Course }}
                </div>
              </td>
              <td>
                <div class="flex items-center gap-2">
                  <a
                    href="/view-student/{{student.StudentID}}"
                    class="btn btn-sm"
                    >Details</a
                  >
                  <div class="border-r ml-2 border h-4 border-base-200"></div>
                  <a
                    href="/update-student/{{student.StudentID}}"
                    class="btn btn-sm btn-square btn-ghost"
                  >
                    <i data-lucide="edit" class="h-4 w-4"></i>
                  </a>
                  <a
                    href="/confirm-delete/{{student.StudentID}}"
                    class="btn btn-sm btn-square btn-ghost"
                  >
                    <i data-lucide="trash" class="h-4 w-4 text-red-500"></i>
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>

    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
